{
datas =     {
distance = 896078;
mainPicUrl = "uploadtemp/brand/2015-07/brand_675ee71392842c12324166b9673f26af.jpg";
mallId = d03b359fa5dc7d7dce568b7311373056;
mallName = "\U5609\U4ead\U835f\U57ce\U5e02\U751f\U6d3b\U5e7f\U573a";
shalinkUrl = "<null>";
    shapicUrl = "<null>";
        };
        errcode = 0;
        errmsg = "";
        }
